In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('churn_preprocess_data.csv')

In [3]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Bank transfer,Credit card,Electronic check,Mailed check,Month-to-month,One year,...,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Churn
0,0,5,27.43,137.15,No,Yes,No,No,Yes,No,...,Yes,No,No,Yes,No,No,No,No,Yes,Yes
1,0,42,38.28,1607.76,No,No,Yes,No,No,No,...,No,Yes,Yes,Yes,No,No,No,No,No,Yes
2,0,61,106.44,6492.84,Yes,No,No,No,No,Yes,...,No,No,No,Yes,No,Yes,Yes,No,No,Yes
3,1,22,92.49,2034.78,No,No,Yes,No,Yes,No,...,No,No,No,No,Yes,No,No,Yes,No,No
4,1,21,19.63,412.23,Yes,No,No,No,No,Yes,...,No,Yes,No,No,No,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42.52,2593.72,No,No,Yes,No,No,Yes,...,Yes,Yes,No,No,Yes,No,No,No,Yes,No
296,0,49,22.31,1093.19,No,No,No,Yes,Yes,No,...,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes
297,0,71,59.57,4229.47,No,No,No,Yes,No,No,...,Yes,Yes,No,No,Yes,Yes,No,Yes,No,Yes
298,1,1,31.32,31.32,No,Yes,No,No,No,No,...,Yes,No,Yes,No,No,No,Yes,Yes,No,No
299,1,13,20.50,266.50,No,No,Yes,No,Yes,No,...,Yes,Yes,No,No,Yes,No,No,Yes,No,Yes

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Bank transfer_Yes,Credit card_Yes,Electronic check_Yes,Mailed check_Yes,Month-to-month_Yes,One year_Yes,...,MultipleLines_Yes,InternetService_Yes,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,PaperlessBilling_Yes,Churn_Yes
0,0,5,27.43,137.15,False,True,False,False,True,False,...,True,False,False,True,False,False,False,False,True,True
1,0,42,38.28,1607.76,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,True
2,0,61,106.44,6492.84,True,False,False,False,False,True,...,False,False,False,True,False,True,True,False,False,True
3,1,22,92.49,2034.78,False,False,True,False,True,False,...,False,False,False,False,True,False,False,True,False,False
4,1,21,19.63,412.23,True,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42.52,2593.72,False,False,True,False,False,True,...,True,True,False,False,True,False,False,False,True,False
296,0,49,22.31,1093.19,False,False,False,True,True,False,...,False,True,False,False,True,False,True,True,True,True
297,0,71,59.57,4229.47,False,False,False,True,False,False,...,True,True,False,False,True,True,False,True,False,True
298,1,1,31.32,31.32,False,True,False,False,False,False,...,True,False,True,False,False,False,True,True,False,False
299,1,13,20.50,266.50,False,False,True,False,True,False,...,True,True,False,False,True,False,False,True,False,True

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Bank transfer_Yes,Credit card_Yes,Electronic check_Yes,Mailed check_Yes,Month-to-month_Yes,One year_Yes,...,MultipleLines_Yes,InternetService_Yes,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,PaperlessBilling_Yes,Churn_Yes
0,0,5,27,137,0,1,0,0,1,0,...,1,0,0,1,0,0,0,0,1,1
1,0,42,38,1607,0,0,1,0,0,0,...,0,1,1,1,0,0,0,0,0,1
2,0,61,106,6492,1,0,0,0,0,1,...,0,0,0,1,0,1,1,0,0,1
3,1,22,92,2034,0,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
4,1,21,19,412,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42,2593,0,0,1,0,0,1,...,1,1,0,0,1,0,0,0,1,0
296,0,49,22,1093,0,0,0,1,1,0,...,0,1,0,0,1,0,1,1,1,1
297,0,71,59,4229,0,0,0,1,0,0,...,1,1,0,0,1,1,0,1,0,1
298,1,1,31,31,0,1,0,0,0,0,...,1,0,1,0,0,0,1,1,0,0
299,1,13,20,266,0,0,1,0,1,0,...,1,1,0,0,1,0,0,1,0,1

dataset=dataset.drop("User ID",axis=1)

dataset

In [8]:
dataset["Churn_Yes"].value_counts()

Churn_Yes
0    161
1    139
Name: count, dtype: int64

In [9]:
#show all columns in dataset#
dataset.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'Bank transfer_Yes', 'Credit card_Yes', 'Electronic check_Yes',
       'Mailed check_Yes', 'Month-to-month_Yes', 'One year_Yes',
       'Two year_Yes', 'gender_Male', 'Partner_Yes', 'Dependents_Yes',
       'PhoneService_Yes', 'MultipleLines_Yes', 'InternetService_Yes',
       'OnlineSecurity_Yes', 'OnlineBackup_Yes', 'DeviceProtection_Yes',
       'TechSupport_Yes', 'StreamingTV_Yes', 'StreamingMovies_Yes',
       'PaperlessBilling_Yes', 'Churn_Yes'],
      dtype='object')

In [10]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'Bank transfer_Yes', 'Credit card_Yes', 'Electronic check_Yes',
       'Mailed check_Yes', 'Month-to-month_Yes', 'One year_Yes',
       'Two year_Yes', 'gender_Male', 'Partner_Yes', 'Dependents_Yes',
       'PhoneService_Yes', 'MultipleLines_Yes', 'InternetService_Yes',
       'OnlineSecurity_Yes', 'OnlineBackup_Yes', 'DeviceProtection_Yes',
       'TechSupport_Yes', 'StreamingTV_Yes', 'StreamingMovies_Yes',
       'PaperlessBilling_Yes']]

In [11]:
#what saved in this file#
independent

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Bank transfer_Yes,Credit card_Yes,Electronic check_Yes,Mailed check_Yes,Month-to-month_Yes,One year_Yes,...,PhoneService_Yes,MultipleLines_Yes,InternetService_Yes,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,PaperlessBilling_Yes
0,0,5,27,137,0,1,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
1,0,42,38,1607,0,0,1,0,0,0,...,1,0,1,1,1,0,0,0,0,0
2,0,61,106,6492,1,0,0,0,0,1,...,1,0,0,0,1,0,1,1,0,0
3,1,22,92,2034,0,0,1,0,1,0,...,1,0,0,0,0,1,0,0,1,0
4,1,21,19,412,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42,2593,0,0,1,0,0,1,...,0,1,1,0,0,1,0,0,0,1
296,0,49,22,1093,0,0,0,1,1,0,...,1,0,1,0,0,1,0,1,1,1
297,0,71,59,4229,0,0,0,1,0,0,...,1,1,1,0,0,1,1,0,1,0
298,1,1,31,31,0,1,0,0,0,0,...,1,1,0,1,0,0,0,1,1,0
299,1,13,20,266,0,0,1,0,1,0,...,1,1,1,0,0,1,0,0,1,0

In [12]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Churn_Yes']]

In [13]:
#what saved in this file#
dependent

     Churn_Yes
0            1
1            1
2            1
3            0
4            1
..         ...
295          0
296          1
297          1
298          0
299          1

[300 rows x 1 columns]

In [14]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
#Model creation#
from sklearn.model_selection    import GridSearchCV
from sklearn.naive_bayes     import GaussianNB
param_grid = {
    'var_smoothing': [1e-9, 1e-8, 1e-7, 1e-6, 1e-5, 1e-4, 1e-3]}

grid=GridSearchCV(GaussianNB(), param_grid, refit=True, verbose=3,n_jobs=-1,scoring='f1_weighted')

#fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 7 candidates, totalling 35 fits

C:\Users\anandha rishi\anaconda3\anaconda4\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=GaussianNB(), n_jobs=-1,
             param_grid={'var_smoothing': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05,
                                           0.0001, 0.001]},
             scoring='f1_weighted', verbose=3)

In [17]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
y_pred = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [18]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'var_smoothing': 1e-09}: 0.5259608882264453

In [19]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[27 26]
 [17 20]]

In [20]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.61      0.51      0.56        53
           1       0.43      0.54      0.48        37

    accuracy                           0.52        90
   macro avg       0.52      0.52      0.52        90
weighted avg       0.54      0.52      0.53        90

In [21]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.5033146353901071

In [22]:
table=pd.DataFrame.from_dict(re)

In [23]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_var_smoothing,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015626,0.000002,0.018751,0.006249,0.0,{'var_smoothing': 1e-09},0.52381,0.594549,0.521645,0.471396,0.595009,0.541282,0.047537,1
1,0.006250,0.007655,0.021877,0.007654,0.0,{'var_smoothing': 1e-08},0.52381,0.594549,0.521645,0.471396,0.595009,0.541282,0.047537,1
2,0.006250,0.007654,0.025002,0.007654,0.0,{'var_smoothing': 1e-07},0.52381,0.594549,0.521645,0.471396,0.595009,0.541282,0.047537,1
3,0.006250,0.007654,0.025001,0.007654,0.000001,{'var_smoothing': 1e-06},0.52381,0.594549,0.521645,0.471396,0.595009,0.541282,0.047537,1
4,0.006251,0.007656,0.015626,0.000004,0.00001,{'var_smoothing': 1e-05},0.52381,0.594549,0.521645,0.471396,0.595009,0.541282,0.047537,1
5,0.003125,0.006249,0.025742,0.008368,0.0001,{'var_smoothing': 0.0001},0.52381,0.594549,0.521645,0.471396,0.595009,0.541282,0.047537,1
6,0.006720,0.009935,0.015842,0.000290,0.001,{'var_smoothing': 0.001},0.52381,0.594549,0.521645,0.471396,0.595009,0.541282,0.047537,1

In [24]:
import pickle
filename="finalized_model_gnb.sav"

In [26]:
#pickle.dump(regressor,open(filename,'wb'))
pickle.dump(grid.best_estimator_, open(filename, 'wb'))

In [27]:
preinput=sc.transform([[1300,1200,4000,0,1,0,1,0,1,1,1,0,0,0,0,1,0,0,0,0,1,0,1,0,]])

C:\Users\anandha rishi\anaconda3\anaconda4\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [28]:
preinput

array([[ 2.60003288e+03,  5.72081465e+01,  1.35742951e+02,
        -1.34412086e+00,  1.74311834e+00, -5.95683397e-01,
         1.67874412e+00, -5.44331054e-01,  1.24939010e+00,
         1.44507276e+00,  1.58113883e+00, -1.00956960e+00,
        -1.10023921e+00, -1.08972474e+00, -1.06904497e+00,
         1.42950280e+00, -1.47709789e+00, -6.77003200e-01,
        -7.45355992e-01, -8.00390530e-01,  1.30088727e+00,
        -6.47239460e-01,  1.49357599e+00, -1.13252315e+00]])

In [29]:
#load the saved model and gets input# 
loaded_model=pickle.load(open("finalized_model_gnb.sav",'rb'))
result=loaded_model.predict(preinput)

In [30]:
#prediction value#
result

array([1])